Repository floneum/floneum, pull requests merged in 2024-12, with the labels that each got.

#312 Upgrade rodio version
  interfaces/kalosm-sound/Cargo.toml
  models/rwhisper/Cargo.toml
Labels: Kalosm, sound

#315 Bump surrealdb
  Cargo.lock
  interfaces/kalosm-language/Cargo.toml
  interfaces/kalosm-language/README.md
  interfaces/kalosm/Cargo.toml
  interfaces/kalosm/README.md
  interfaces/kalosm/docs/language.md
  interfaces/kalosm/examples/live-qa.rs
  interfaces/kalosm/examples/rag.rs
  interfaces/kalosm/examples/semantic-search.rs
  interfaces/kalosm/src/surrealdb_integration/document_table.rs
  interfaces/kalosm/src/surrealdb_integration/mod.rs
Labels: dependencies, breaking

#316 Serialize session to and from bytes instead of a path
  Cargo.lock
  interfaces/kalosm-language/src/chat.rs
  interfaces/kalosm/examples/resume-chat.rs
  interfaces/language-model/src/builder.rs
  interfaces/language-model/src/lib.rs
  interfaces/language-model/src/model.rs
  models/kalosm-llama/Cargo.toml
  models/kalosm-llama/src/session.rs
Labels: Kalosm, breaking

#317 Add an example of setting a custom source for a llama model
  Cargo.lock
  Cargo.toml
  interfaces/kalosm-language/Cargo.toml
  interfaces/kalosm-sound/Cargo.toml
  interfaces/kalosm/Cargo.toml
  interfaces/kalosm/examples/custom_llama_source.rs
  models/kalosm-llama/Cargo.toml
  models/kalosm-llama/src/model.rs
  models/kalosm-ocr/Cargo.toml
  models/rbert/Cargo.toml
  models/rwhisper/Cargo.toml
  models/rwuerstchen/Cargo.toml
Labels: examples, Kalosm

#318 Fix sliding window attention implementation when the input is larger than the context length
  models/kalosm-llama/src/raw/mod.rs
Labels: bug, Kalosm
