Repository floneum/floneum, pull requests merged in 2024-04, with the labels that each got.

#175 Fix loading chat sessions on accelerators
  interfaces/kalosm-common/src/lib.rs
Labels: bug, Kalosm

#176 Add support for quantized whisper models
  interfaces/kalosm/examples/transcribe.rs
  models/rwhisper/examples/audio_file.rs
  models/rwhisper/src/lib.rs
  models/rwhisper/src/model.rs
  models/rwhisper/src/source.rs
Labels: enhancement, Kalosm, performance, audio

#178 Add distil whisper v3 large quantized
  Cargo.lock
  interfaces/kalosm/examples/transcribe.rs
  models/rwhisper/examples/audio_file.rs
  models/rwhisper/src/lib.rs
  models/rwhisper/src/melfilters128.bytes
  models/rwhisper/src/model.rs
  models/rwhisper/src/source.rs
Labels: enhancement, models, Kalosm, audio

#177 rwuerstchen: async api
  Cargo.lock
  interfaces/kalosm-streams/Cargo.toml
  interfaces/kalosm-streams/src/sender.rs
  interfaces/kalosm/README.md
  interfaces/kalosm/examples/generate_image.rs
  models/rwhisper/src/lib.rs
  models/rwuerstchen/Cargo.toml
  models/rwuerstchen/examples/generate.rs
  models/rwuerstchen/src/lib.rs
  models/rwuerstchen/src/model.rs
Labels: enhancement, Kalosm, breaking

#180 Reference count language models
  .github/workflows/nightly.yml
  interfaces/kalosm-language/src/chat.rs
  interfaces/kalosm-language/src/task.rs
  interfaces/kalosm/README.md
  interfaces/kalosm/examples/chat-mistral-2.rs
  interfaces/kalosm/examples/chat-tiny-llama.rs
  interfaces/kalosm/examples/chat-with-character.rs
  interfaces/kalosm/examples/chat.rs
  interfaces/kalosm/examples/live_qa.rs
  interfaces/kalosm/examples/phi-chat.rs
  interfaces/kalosm/examples/resume-chat.rs
  interfaces/kalosm/examples/self-chat.rs
  models/kalosm-llama/src/language_model.rs
  models/kalosm-llama/src/lib.rs
  models/rphi/src/language_model.rs
  models/rphi/src/lib.rs
Labels: Kalosm

#181 Make structured generation faster
  Cargo.lock
  floneum/floneum/Cargo.toml
  interfaces/kalosm-language/src/chat.rs
  interfaces/kalosm-language/src/task.rs
  interfaces/kalosm-language/src/tool/mod.rs
  interfaces/kalosm-sample/src/structured_parser/regex.rs
  interfaces/kalosm-sound/src/audio.rs
  interfaces/kalosm-streams/src/text_stream.rs
  interfaces/kalosm/src/prompt_annealing.rs
  interfaces/kalosm/src/surrealdb_integration/mod.rs
  interfaces/language-model/Cargo.toml
  interfaces/language-model/src/model.rs
  interfaces/language-model/src/structured.rs
  interfaces/language-model/src/token_stream.rs
  models/kalosm-llama/Cargo.toml
  models/kalosm-llama/examples/infer.rs
  models/kalosm-llama/examples/structured.rs
  models/kalosm-llama/src/model.rs
  models/kalosm-llama/src/raw/attention_layer.rs
  models/kalosm-llama/src/raw/mod.rs
  models/rphi/src/language_model.rs
  models/rphi/src/model.rs
Labels: enhancement, Kalosm, performance, breaking

#182 Add wizard lm 2
  models/kalosm-llama/src/source.rs
Labels: models, Kalosm

#183 Simplify Parsers
  Cargo.lock
  floneum/plugin/src/llm.rs
  interfaces/kalosm-language/Cargo.toml
  interfaces/kalosm-language/src/chat.rs
  interfaces/kalosm-language/src/search/preprocessing/hypothetical.rs
  interfaces/kalosm-language/src/tool/calculator.rs
  interfaces/kalosm-language/src/tool/mod.rs
  interfaces/kalosm-sample/Cargo.toml
  interfaces/kalosm-sample/src/lib.rs
  interfaces/kalosm-sample/src/structured_parser/float.rs
  interfaces/kalosm-sample/src/structured_parser/has_parser.rs
  interfaces/kalosm-sample/src/structured_parser/integer.rs
  interfaces/kalosm-sample/src/structured_parser/literal.rs
  interfaces/kalosm-sample/src/structured_parser/map.rs
  interfaces/kalosm-sample/src/structured_parser/mod.rs
  interfaces/kalosm-sample/src/structured_parser/or.rs
  interfaces/kalosm-sample/src/structured_parser/regex.rs
  interfaces/kalosm-sample/src/structured_parser/repeat.rs
  interfaces/kalosm-sample/src/structured_parser/sentence.rs
  interfaces/kalosm-sample/src/structured_parser/separated.rs
  interfaces/kalosm-sample/src/structured_parser/stop_on.rs
  interfaces/kalosm-sample/src/structured_parser/string.rs
  interfaces/kalosm-sample/src/structured_parser/then.rs
  interfaces/kalosm-sample/src/structured_parser/word.rs
  interfaces/kalosm/examples/tools.rs
  interfaces/language-model/src/model.rs
  interfaces/language-model/src/structured.rs
  models/kalosm-llama/examples/structured.rs
Labels: Kalosm, tweak, breaking

#185 Add phi-3
  interfaces/kalosm/examples/chat-phi-3.rs
  models/kalosm-llama/src/source.rs
Labels: enhancement, models, Kalosm

#187 Add a menu item to clear the current workflow
  floneum/floneum/src/graph.rs
  floneum/floneum/src/input.rs
  floneum/floneum/src/main.rs
  floneum/floneum/src/output.rs
  floneum/floneum/src/window.rs
  floneum/plugin/src/resource.rs
  interfaces/kalosm-language/src/context/page/browse.rs
Labels: enhancement, floneum
